<div class="jumbotron jumbotron-fluid" height="100%" width="100%">
  <div class="container" width="100%">
    <table width="100%">
        <tr>
             <td>
                <img src="/assets/img/box.jpg"  height="300" alt="fight">
            </td>
          <td>
              <div class="container" width="100%">
                <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Where</th>
                      <th scope="col">My achievement</th>
                    </tr>
                  </thead>
                  <tbody  *ngFor="let logro of logros; let i = index">
                    <tr>
                      <td align="center"><img height="100" [src]="logro.img" [alt]="logro.lugar"></td>
                      <td width="50">{{ logro.lugar }}</td>
                      <td>{{ logro.descripcion }}</td>
                      
                    </tr>
                    
                  </tbody>
                </table>

                    </div>
        </td>    
      </tr>    
       
   </table>
  
</div>

 


