<div class="jumbotron jumbotron-fluid" height="100%" width="100%">
    <div class="container" width="100%">
      <table width="100%">
          <tr>
               <td>
                  <img src="/assets/img/tele.jpg"  height="250" alt="Contact me">
              </td>
            <td>
                <div class="container" width="100%">
                <p class="lead"><a href="mailto:claudiarossi0707@gmail.com">claudiarossi0707@gmail.com</a>
                    <br>
 54 9 291 4187312                   <br>
                      </div>
          </td>    
        </tr>    
         
     </table>
    
  </div>
  