<div class="jumbotron jumbotron-fluid" height="100%" width="100%">
  <div class="container" width="100%">
    <table width="100%">
        <tr>
             <td>
                <img src="/assets/img/ele.jpg"  height="250" alt="Thailand">
            </td>
          <td>
              <div class="container" width="100%">
              <p class="lead">I have over twenty years of experience in software development. I have covered several roles in which
                  I was able to get adapted to the dynamics of the different changes in programming languages (from
                  sequential programming, through structured programming, 4GL languages, event-driven languages,
                  web technologies and finally object oriented languages, and from flat files to relational databases),
                  offering my employers the capacity and initiative of self-learning and on-the-job training.
                  During the last years, my professional development has had an impasse due to my maternity issues.
                  <br>
An important part of my career has been developed in remote modality, always getting very
                  good feedback from my clients and employers.
                  <br>
                  For family needs, I resided, in 2008, three months in Baton Rouge, Louisiana, United States. In 2010, I
lived three months in Rayon, Thailand. In 2018, I spent one month in Houston, United States. All these cases
gave me the opportunity to enhance my English skills and exposed me to personal relationship with people
from different cultures. 
                  <br>I have Argentine and Italian citizenship.
                  <br>
                  I would really appreciate your consideration to have me as candidate for this and futures opportunities.
                  <br>
                  
                  <!--In this regards, I would be very interested in applying to open job later this year and also in 2020. The
                  intention to get a job is part of a project my family has, to emigrate to US in the next two years.
                  Since this is an important priority for us, I am willing to cover all cost associated with getting the work
                  visa.
                  <br>
                   Although my project is to work in the USA, of course, I would be very satisfied wherever I have a possibility.</p>
                  -->
                    </div>
        </td>    
      </tr>    
       
   </table>
  
</div>
