
 


<div id="carouselExampleInterval" color="grey" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    
  </ol>
  <div class="carousel-inner" background-color="grey">
    <div class="carousel-item active" data-interval="150" background-color="grey" >
      <table><tr>
        <td><img src="/assets/img/piano.jpg"  height="100"  alt="...">
          </td><td background-color="grey">
      When I was a child I attended several years at the  Music School in my city, to learn musical language, music theory, and guitar.<br> 
       Now I am a beginner pianist.
      </td></tr></table> 
    </div>
    <div class="carousel-item" data-interval="150">
        <table><tr>
            <td><img src="/assets/img/hockey.jpg"  height="100"  alt="...">
              </td><td color="grey">
                  I am an amateur hockey player. I started in my teenager years, and returned to play a few years ago.
                  <br> My positions on the court are sometimes HALF and sometimes BACK. Defense is my specialty.     </td></tr></table> 
    
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a   class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only" >Next</span>
  </a>
</div>
